<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="constructor"
	>

	<bean id="myObj" class="springIoc.sample10.TestBean" autowire="constructor" />

	<bean id="data1" class="springIoc.sample10.DataBean" primary="true"/>
	
	<bean id="data2" class="springIoc.sample10.DataBean"/>
	
	
</beans>
